
      .popup{
        border: 2px solid rgba(0,0,0,.05);
        position: absolute;
        box-shadow: 0 1px 7px rgba(0,0,0,.05);
        max-width: 300px;
        min-width: 300px;
        font-family: sans-serif;
        background-color: white;
        border-radius: 2px;
      }

      .popup--text{
        background-color: #F6F4F4;
        padding: 20px;
        font-size: 12px;
        font-style: italic;
      }


      .popup--edit textarea{
        width: 100%;
        box-sizing: border-box;
        resize: none;
        border: none;
        padding: 20px;
        outline:0px !important;
        -webkit-appearance:none;
        font-size: 14px;
        color: black;
      }

      label{
        display: block;
        margin: 20px 20px 0 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0,0,0,.05);
        font-size: 12px;
        letter-spacing: 1px;
      }
